# Assignment 3 - Data Cleaning and Analysis

이번 과제에서 학생들은 주어진 데이터를 clean up 하고 분석하는 연습을 하게 될 것이다.

두개의 지정된 질문에 대한 답을 하여야 하고 세개의 질문을 스스로 만들어 코드와 함께 결과를 제시한다.

* 파일 이름: A3-학번-이름(영어로).iphynb 형식으로 (예: A3-13403-999-jiyoon.iphynb)

### Dataset

타이타닉호의 모든 승객, 승무원의 정보와 생존자, 사망자 정보는 다음의 웹사이트에 잘 정리되어있다.
* http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic.html

본 과제에서 제시하는 데이터는 해당 웹사이트의 정보를 담고 있다. 다음의 데이터를 다운로드하여 분석하고 아래의 질문에 답하시오.
* 데이터: http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic3.xls
* 데이터 설명: http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic.html
* 데이터 변수 설명: http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic3info.txt

In [2]:
import pandas as pd
import numpy as np

data = pd.read_excel("titanic3.xls")

In [3]:
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [4]:
data.columns

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

### Q1: 생존자와 사망자의 평균 나이를 남녀를 구분하여 계산하시오.

In [8]:
survived_sex_temp = {}
for (survived, sex), group_data in data.groupby(["survived", "sex"]):
    survived_sex_temp[survived, sex] = group_data.age.mean()
survived_sex_temp

{(0, 'female'): 25.255208333333332,
 (0, 'male'): 31.51641166347992,
 (1, 'female'): 29.81535410958904,
 (1, 'male'): 26.977777777777778}

In [10]:
survived_male = survived_sex_temp[(1, 'male')]
dead_male = survived_sex_temp[(0, 'male')]
survived_female = survived_sex_temp[(1, 'female')]
dead_female = survived_sex_temp[(0, 'female')]

print("The mean age of survived male is {}".format(survived_male))
print("The mean age of dead male is {}".format(dead_male))
print("The mean age of survived female is {}".format(survived_female))
print("The mean age of dead female is {}".format(dead_female))

The mean age of survived male is 26.977777777777778
The mean age of dead male is 31.51641166347992
The mean age of survived female is 29.81535410958904
The mean age of dead female is 25.255208333333332

### Q2: 생존자의 평균 티켓 가격과 사망자의 평균 티켓 가격을 구하고 비교하시오.

In [11]:
data.fare.mean()

33.29547928134572

In [12]:
survived = data[data.survived == 1]
dead = data[data.survived == 0]
survived_tprice_mean = survived.fare.mean() 
print("The Mean ticket price of survived is {} Pounds".format(survived_tprice_mean))
dead_tprice_mean = dead.fare.mean()
print("The Mean ticket price of dead is {} Pounds".format(dead_tprice_mean))

The Mean ticket price of survived is 49.36118360000002 Pounds
The Mean ticket price of dead is 23.35383056930686 Pounds

### Q3: 질문을 스스로 만들고 답을 제시하시오.

In [13]:
data['fam'] = data.sibsp + data.parch

In [26]:
# 생존자와 사망자의 가족 동반탑승 유무(sibsp & parch)

survived_with_fam = 0 # 생존자 중 가족 동반탑승 O
dead_with_fam = 0 # 사망자 중 가족 동반탑승 O
survived_without_fam = 0 # 생존자 중 가족 동반탑승 X
dead_without_fam = 0 # 사망자 중 가족 동반탑승 X

for idx, row in data.iterrows():
    if row['survived'] == 1:
        if row['fam'] > 0:
            survived_with_fam += 1
        else:
            survived_without_fam +=1
    else:
        if row['fam'] > 0:
            dead_with_fam += 1
        else:
            dead_without_fam +=1

print("The number of survived who had family companion : {}".format(survived_with_fam))
print("The number of dead who had family companion : {}".format(dead_with_fam))
print("The number of survived who didn't have family companion : {}".format(survived_without_fam))
print("The number of dead who didn't have family companion : {}".format(dead_without_fam))

The number of survived who had family companion : 261
The number of dead who had family companion : 258
The number of survived who didn't have family companion : 239
The number of dead who didn't have family companion : 551

### Q4: 질문을 스스로 만들고 답을 제시하시오.

In [27]:
# 객실 위치에 따른 생존율(객실별 생존자 수 / 객실별 전체 탑승자 수) (pclass: 1,2,3)

survived_first_class = len(data[(data.survived == 1) & (data.pclass == 1)]) / len(data[data.pclass == 1]) * 100
survived_second_class = len(data[(data.survived == 1) & (data.pclass == 2)]) / len(data[data.pclass == 2]) * 100
survived_third_class = len(data[(data.survived == 1) & (data.pclass == 3)]) / len(data[data.pclass == 3]) * 100

print("The survival rate of who were in first class is {}%".format(round(survived_first_class, 2)))
print("The survival rate of who were in second class is {}%".format(round(survived_second_class, 2)))
print("The survival rate of who were in third class is {}%".format(round(survived_third_class, 2)))

The survival rate of who were in first class is 61.92%
The survival rate of who were in second class is 42.96%
The survival rate of who were in third class is 25.53%

### Q5: 질문을 스스로 만들고 답을 제시하시오.

In [46]:
# 사망자와 실종자 수 (cabin 값이 null인 경우 실종)

victim = data[data.survived == 0]

dead = victim.cabin.notnull().sum()
missing = victim.cabin.isnull().sum()

print("The nubmer of dead is {} and the number of missing is {}".format(dead, missing))

The nubmer of dead is 102 and the number of missing is 707